---
new_page_extension: md
auto_deploy: false
admin_path: "/.forestry"
webhook_url: 
sections:
- type: document
  path: Content/blog
  label: Write
- type: directory
  path: content/blog
  label: Blog
  create: documents
  match: "**/*"
  new_doc_ext: md
  templates:
  - git
upload_dir: Content/assets
public_path: "/Content/blog"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
build:
  preview_output_directory: public
  install_dependencies_command: npm install
  preview_docker_image: node:10
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: npm run forestry:preview
